@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #f4f4f5;
  --accent: #6366f1;
  --error-bg: #4c0519;
  --error-text: #fb7185;
  --text-dim: #71717a;
  --panel-bg: #18181b;
  --border-dim: #27272a;
}

@theme inline {
  --color-background: #09090b;
  --color-foreground: #f4f4f5;
  --color-accent: #6366f1;
  --color-error-bg: #4c0519;
  --color-error-text: #fb7185;
  --color-text-dim: #71717a;
  --color-panel-bg: #18181b;
  --color-border-dim: #27272a;

  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-jetbrains-mono);
  --font-display: var(--font-syne);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  background-image:
    radial-gradient(circle at 50% 0%, var(--panel-bg), transparent 80%);
  background-attachment: fixed;
  min-height: 100vh;
}

@keyframes caret-blink {

  0%,
  100% {
    opacity: 1;
    box-shadow: 0 0 6px 0px var(--color-accent);
  }

  50% {
    opacity: 0;
    box-shadow: 0 0 0px 0px var(--color-accent);
  }
}

.animate-caret-blink {
  animation: caret-blink 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}